* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: arial, sans-serif;
  font-size: 14px;
  width: 100vw;
  height: 100vh;
}

header nav div ul {
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  align-content: center;
  width: 100%;
  height: 70px;
}

header nav div ul li {
  padding-right: 20px;
  list-style: none;
}

header nav div ul li a {
  text-decoration: none;
  color: rgba(0, 0, 0, 0.87);
  font-size: 13px;
}

.fa-th {
  color: rgba(0, 0, 0, 0.527);
  font-size: 15px;
}

header nav div ul li a:hover {
  text-decoration: underline;
}

.avatar {
  width: 32px;
  height: 32px;
  border-radius: 25px;
}

footer #top {
  background: #f2f2f2;
  color: rgba(0, 0, 0, 0.54);
  font-size: 14px;
  border-top: 1px solid #dadce0;
  height: 40px;
  display: flex;
  align-items: center;
  padding: 0 27px;
  position: fixed;
  bottom: 40px;
  width: 100%;
}

footer #bottom {
  background: #f2f2f2;
  color: rgba(0, 0, 0, 0.54);
  font-size: 14px;
  border-top: 1px solid #dadce0;
  border-bottom: 1px solid #dadce0;
  height: 40px;
  width: 100%;
  display: flex;
  position: fixed;
  bottom: 0;
}

footer #bottom #left {
  list-style: none;
  display: flex;
  flex-direction: row;
  align-items: center;
  align-content: center;
  width: 50%;
  padding-left: 27px;
}

#left li,
#right li {
  padding-right: 27px;
  white-space: nowrap;
}

#left li a,
#right li a {
  text-decoration: none;
  color: #70757a;
}

#left li a:hover,
#right li a:hover {
  text-decoration: underline;
}

footer #bottom #right {
  list-style: none;
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  align-content: center;
  width: 50%;
}

/* FLEX LAYOUT

section {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 173px;
}

#logo {
  display: flex;
  justify-content: center;
}
img {
  height: 92px;
  width: 272px;
  margin-bottom: 33px;
}

form {
  display: flex;
  flex-direction: column;
}
form #search {
  height: 44px;
  width: 50vw;
  border-radius: 25px;
  border: 1px solid #dfe1e5;
  line-height: 44px;
}

.search-input {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin-bottom: 33px;
}

form .fas {
  color: #9aa0a6;
  position: absolute;
  line-height: 2px;
  padding-left: 18px;
}

form .fa-keyboard {
  position: relative;
  right: 55px;
}

.form-btn {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  align-self: center;
  text-align: center;
}

.btn {
  background-color: #f8f9fa;
  border: none;
  color: #202124;
  height: 36px;
  border-radius: 4px;
  text-align: center;
  padding: 12px 18px;
  margin-left: 13px;
  margin-right: 13px;
}

.btn:hover {
  border: 1px inset solid #dadce0;
}

input:focus {
  outline: none;
} */
